{% extends "base.html" %}
{% load static %}

{% block title %}
Tic-Tac-Toe Game - {{ room_code }}
{% endblock %}

{% block styling %}
<link rel="stylesheet" href="{% static 'tris_game/css/game_room.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Game Room: {{ room_code }}</h1>
            <p>Playing as <strong>{{ nickname }}</strong></p>
        </div>

        <div id="game-info">Connecting to server...</div>

        <div id="game-board">
            {% for i in "012345678" %}
                <div class="cell" id="cell-{{ i }}" data-index="{{ i }}"></div>
            {% endfor %}
        </div>

        <a href="{% url 'home' %}" class="home-link">Leave Room</a>
    </div>

    {{ room_code|json_script:"json-room-code" }}
    {{ nickname|json_script:"json-nickname" }}

    <script src="{% static 'tris_game/js/game_room.js' %}"></script>
    {% endblock %}